html {
	height: 100%;
}
body {
	display: flex;
	background: linear-gradient(to top,crimson,deeppink);
  	justify-content: center;
}
.container {
  display: grid; 
  grid-template-columns: 10fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "a a a"
    "b c d"; 
  justify-content: center; 
  align-content: center; 
  justify-items: center; 
  align-items: center; 
}
.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }
.d { grid-area: d; }

.title {
	text-align: center;
	width: 310px;
	color: crimson;
	background-color: white;
  
}
.searchtextarea {
	resize: none;
	overflow: hidden;
	text-align: center;
	width: 500px;
	height: 50px;
	color: crimson;
	border-radius: 25px;
	border: none;
	rows: 1;
	cols: 10;
}
.searchbutton {
	text-align: center;
	width: 50px;
	height: 50px;
	color: crimson;
	background-color: white;
	border-radius: 25px;
	border: none;
	font-weight: bold;
	margin: 0 10px 0 0;
}
.postbutton {
	text-align: center;
	width: 50px;
	height: 50px;
	color: crimson;
	background-color: white;
	border-radius: 25px;
	border: none;
	font-weight: bold;
}
