html {
	height: 100%;
}
body {
	display: flex;
	background: linear-gradient(to top,crimson,deeppink);
  	justify-content: center;
}
.container {
  display: grid; 
  grid-template-columns: 10fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 10fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "a a a"
    "b c d"
    "e e e"; 
  justify-content: center; 
  align-content: center; 
  justify-items: center; 
  align-items: center;
}
.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }
.d { grid-area: d; }
.e { grid-area: e; }

.postslist {
  display: grid; 
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;  
  gap: 0px 0px; 
  grid-template-areas: 
	"n1"
	"n2"
	"n3"
	"n4"
	"n5"
	"n6"
	"7"
	"n8"
	"n9"
	"n10"; 
  justify-content: center; 
  align-content: center; 
  justify-items: center; 
  align-items: center;
}
.n1 { grid-area: n1; }
.n2 { grid-area: n2; }
.n3 { grid-area: n3; }
.n4 { grid-area: n4; }
.n5 { grid-area: n5; }
.n6 { grid-area: n6; }
.n7 { grid-area: n7; }
.n8 { grid-area: n8; }
.n9 { grid-area: n9; }
.n10 { grid-area: n10; }

.title {
	text-align: center;
	width: 310px;
	color: crimson;
	background-color: white;
  
}
.searchtextarea {
	resize: none;
	overflow: hidden;
  	font-size: 30px;
	margin: 0 10px 0 0;
	vertical-align: middle;
	width: 600px;
	height: 30px;
	border-radius: 25px;
	border: none;
	rows: 1;
	cols: 10;
}
.searchbutton {
	text-align: center;
	width: 50px;
	height: 50px;
	color: crimson;
	background-color: white;
	border-radius: 25px;
	border: none;
	font-weight: bold;
	margin: 0 10px 0 0;
}
.postbutton {
	text-align: center;
	width: 50px;
	height: 50px;
	color: crimson;
	background-color: white;
	border-radius: 25px;
	border: none;
	font-weight: bold;
}
